<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css">
<link href="./assets/style/main.df50a.css" rel="stylesheet"></head>
<body>
    <div id="app">{{content}}</div>
<script type="text/javascript" src="./assets/script/runtime.d4c6b.js"></script><script type="text/javascript" src="./assets/script/vendors~main.cd82d.bundle.js"></script><script type="text/javascript" src="./assets/script/main.282fc.bundle.js"></script></body>
</html>